[submodule "demo-8/src/components/esp32-smbus"]
	path = demo-8/src/components/esp32-smbus
	url = https://github.com/DavidAntliff/esp32-smbus
[submodule "demo-8/src/components/esp32-i2c-lcd1602"]
	path = demo-8/src/components/esp32-i2c-lcd1602
	url = https://github.com/DavidAntliff/esp32-i2c-lcd1602
