.pytest_cache/
__pycache__/

# esp-idf built binaries
build/
build_*_*/
sdkconfig

# idf-ci build run output
build_summary_*.xml
app_info_*.txt
size_info_*.txt

# pytest-embedded log folder
pytest_embedded_log/

# idf-component-manager output
dependencies.lock